@charset "utf-8";

* {margin:0; padding:0; box-sizing:border-box;}

.wrap {
    position:relative;
    overflow:hidden;
    height:100vh;
}

@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;    font-style: normal;
}
@font-face {
    font-family: 'EF_YOONY';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/EF_YOONY.woff2') format('woff2');
    font-weight: normal;    font-style: normal;
}

h1 {
    z-index:1000;
    max-width:450px;
    position:absolute;
    top:25%;
    left:50%;
    transform:translateX(-50%);
    color:#111111;
    font-size:1.5rem;
    line-height:3.5rem;
    transition:.75s;
    /* animation: neon5 1.5s ease-in-out infinite alternate; */
    font-weight:normal;
    text-align:center;
    font-family: 'EF_YOONY';
    font-weight:bold;
}
h1 strong {
    animation: neon5 1.5s ease-in-out infinite alternate;
    font-family: 'TmoneyRoundWindExtraBold';
}
.popcorn.on ~h1 {top:5%;}
.h1carp {
    opacity:1;
    width:420px;
    height:43px;
    transition:.25s;
    position:absolute;
}
.h1dragon {
    opacity:0;
    height:0;
    transition:.25s;
}
.popcorn.on ~h1 .h1carp {opacity:0; height:0; }
.popcorn.on ~h1 .h1dragon {opacity:1; height:43px;}

.popcorn {
    width:200px;
    height:300px;
    position:absolute;
    left:50%;
    bottom:5%;
    transform:translate(-50%,0);
    animation: vibration .75s infinite alternate linear;
    z-index:100;
    background-image:url(./img/carp.png);
    background-position:center;
    background-repeat:no-repeat;
    background-size:contain;
    transition:1s;
}
/* .popcorn img {width:100%;} */

.popcorn.on {
    animation: brightness 1s forwards alternate ease;
    /* animation-play-state:paused;  */
    /* animation-duration:0s; */
    transform:translate(-50%,-3%) rotate(0) !important;
    background-image:url(./img/dragon.png);
    width:500px;
    height:600px;
}
.popcorn a {display:block; width:100%; height:100%; cursor:pointer; }
.popcorn>img {width:100%;}
.popcorn p{
    position:absolute; top:0; right:0;
    font-size:2rem;
    transform:translate(30%,100%);
    display:none;
    font-family: 'EF_YOONY';
}
.popcorn:hover p {display:block;}

@keyframes vibration {
    from {
        transform:translate(-50%,-5%) rotate(15deg);
        bottom:calc(10% + 100px);
        left:47.5%;
    }
    50% {
        transform:translate(-50%,0%) rotate(0);
        bottom:10%;
        left:50%;
    }
    to {
        transform:translate(-50%,-5%) rotate(-15deg);
        bottom:calc(10% + 100px);
        left:52.5%;
    }
}
@keyframes brightness {
    from {
        filter:brightness(100);
    }
    50% {
        filter:brightness(5);
    }
    to {
        filter:brightness(1);
    }
}

.text {
    position:absolute;
    width:0;
    height:0;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    z-index:90;
}

.popcorn.on ~.text>* {height:100px; opacity:1;}
.popcorn.on ~.text #text1 {    left:-500px; bottom:-100px; width:280px;}
.popcorn.on ~.text #text2 {    left:-600px; bottom:-350px; width:170px;}
.popcorn.on ~.text #text3 {    bottom:-450px; width:135px;}
.popcorn.on ~.text #text4 {    left:600px; bottom:-350px; width:270px;}
.popcorn.on ~.text #text5 {    left:500px; bottom:-100px; width:165px;}

@keyframes neon5 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
    }
  }

.text>div {
    width:0;
    height:0;
    opacity:0;
    position: relative;
    /* box-shadow: 16px 2px 10px rgba(0, 0, 0, 0.4); */
    perspective: 500px;
    /* border-top-left-radius: 300px; */
    /* border-top-right-radius: 300px; */
    transform-origin: top center;
    transform: rotateX(3deg);
    cursor: pointer;
    position:absolute;
    z-index:90;    
    left:0;
    bottom:-200px;
    transition:.5s;
}
.text>div>a {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-size:cover;
	background-repeat: no-repeat;
	/* box-shadow: inset 6px 3px 10px rgba(0, 0, 0, 0.4); */
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	/* border: 6px solid #e7e4df; */
	z-index: 0;
	display: flex;
	justify-content: center;

    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;

    transform:translateX(-50%);
}
#text1>a {background-image:url(./img/1.svg);}
#text2>a {background-image:url(./img/2.png);}
#text3>a {background-image:url(./img/3.png);}
#text4>a {background-image:url(./img/4.png);}
#text5>a {background-image:url(./img/5.png);}

/* water fall */
.waterfall {position:absolute; border:none;}
.waterfall img {width:100%; border:none;}
.waterfall1 {left:0%}
.waterfall2 {left:20%}
.waterfall3 {left:40%}
.waterfall4 {left:60%}
.waterfall5 {left:80%}