@charset "utf-8";

* {margin:0; padding:0; box-sizing:border-box;}

.wrap6 {
    position:relative;
    overflow:hidden;
}

h1 {
    z-index:1000;
    text-align:center;
    position:absolute;
    top:20%;
    left:50%;
    transform:translateX(-50%);
    color:white;
    font-size:3rem;
    transition:.75s;
    animation: neon5 1.5s ease-in-out infinite alternate;
    font-weight:normal;
    text-align:center;
}
/* h1::before {
    content:'';
    width:100%;
    height:20%;
    background-color:black;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    position:absolute;
    text-align:center;
    filter:blur(3rem);
} */

.popcorn:hover ~h1 {opacity:0;}
.curtain {
    display:flex;
    justify-content:space-between;
    height:99.6vh;
    background-color:black;
    transition:2s;
}
.curtain>div {
    width:50%;
    filter:blur(2px);
    transition:1s;
}
/* .curtain>div:first-of-type {transform:scaleX(-1);} */
.curtain>div>img {width:100%;height:100%;}

.popcorn {
    width:300px;
    height:400px;
    position:absolute;
    left:50%;
    bottom:0;
    transform:translate(-50%,0);
    animation: vibration .75s infinite alternate linear;
    z-index:100;
    background-image:url(../img/carp.png);
    background-position:center;
    background-repeat:no-repeat;
    background-size:contain;
    transition:1s;
}
.popcorn:hover,
.popcorn.on {
    animation-play-state:paused; 
    transform:translate(-50%,-3%) rotate(0) !important;
    background-image:url(../img/dragon.png);
    width:600px;
    height:800px;
}
.popcorn a {display:block; width:100%; height:100%; cursor:pointer; }
.popcorn:hover ~.curtain>div {width:0;filter:blur(1rem);}
.popcorn:hover ~.curtain {background:url(../img/waterfall.jpg); background-position:center; background-repeat:no-repeat; background-size:cover;}
.popcorn>img {width:100%;}

@keyframes vibration {
    from {
        transform:translate(-50%,-5%) rotate(15deg);
    }
    50% {
        transform:translate(-50%,0%) rotate(0);
    }
    to {
        transform:translate(-50%,-5%) rotate(-15deg);
    }
}

.text {
    position:absolute;
    width:100%;
    height:100%;
    left:50%;
    bottom:40%;
}
.popcorn ~.text>p {position:absolute; transition:.75s; left:0; bottom:-225px; text-align:center; transform:translateX(-50%); font-size:0;}
.popcorn:hover ~.text>* {font-size:3rem;}
.popcorn:hover ~.text #text1 {    left:-500px; bottom:-75px;}
.popcorn:hover ~.text #text2 {    left:-600px;}
.popcorn:hover ~.text #text3 {    left:-700px; bottom:100px;}
.popcorn:hover ~.text #text4 {    left:500px; bottom:-75px;}
.popcorn:hover ~.text #text5 {    left:600px;}
.popcorn:hover ~.text #text6 {    left:700px; bottom:100px;}
.popcorn:hover ~.text #text7 {    bottom:500px;}
.popcorn:hover ~.text #text8 {    left:-500px; bottom:300px;}
.popcorn:hover ~.text #text9 {    left:500px; bottom:300px;}

@keyframes neon5 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
    }
  }