@charset "utf-8";

* {margin:0;padding:0;box-sizing:border-box;}
ul, ol, li {list-style:none;}
img {width:100%;}

body {background-color:rgba(160, 208, 227, 0.5);}

.wrap {height:100vh; display:flex; flex-direction:column; justify-content:center;}

h2 {margin-bottom:1.5rem;}

.commu {
    text-align:right;
    transform: skew(0deg, -15deg);
    width:50%;
}
.commu ul {
    display:flex;
    justify-content:flex-end;
    align-items:center;
}
.commu li {
    width:100px;
}
.skill li {
    width:100px;
}

.iam {
    display:flex;
    text-align:center;
    margin:5rem 0;
}
.person {
    text-align:center;
    width:50%;
    transform: skew(0deg, -15deg);
}
.publisher {
    text-align:center;
    width:50%;
    transform: skew(0deg, 15deg);
}

.skill {
    transform: skew(0deg, 15deg);
    width:50%;
    /* text-align:center; */
}
.skill ul {
    display:flex;
    justify-content:flex-start;
    align-items:center;
}

/*  */
.con {display:flex;}

.line {
    width: 100vw;
    display:flex;
  }
  .left, .right {
    width: 50vw;
    overflow: hidden;
    display: inline-block;
  }
  .left {
    color:pink;
    transform: skew(0deg, -15deg);
  }
  .right {
    color: black;
    transform: skew(0deg, 15deg);
  }
  .left .content {
    width: 100vw;
    text-align: center;
    display:flex;
    justify-content:center;
  }
  .right .content {
    width: 100vw;
    display:flex;
    justify-content:center;
    transform: translate(-50vw);
  }
  .flowdiv {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    text-transform: uppercase;
    line-height: .8;
    transition: ease-out .6s;
    width:100px;
  }